<h1>Add tournament</h1>

<%= form_with model: @tournament, local: true do |f| %>
  <% if @tournament.errors.any? %>
    <ul><% @tournament.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul>
  <% end %>
  <p><%= f.label :name %> <%= f.text_field :name, required: true %></p>
  <p><%= f.label :starts_at %> <%= f.datetime_local_field :starts_at %></p>
  <p><%= f.label :ends_at %> <%= f.datetime_local_field :ends_at %></p>
  <p><%= f.label :external_id, "External ID (for API)" %> <%= f.text_field :external_id %></p>
  <p><%= f.submit "Add tournament" %></p>
<% end %>

<p><%= link_to "Back", tournaments_path %></p>
